body{
    background: #190a69;
  }
  .container{
    top: 100px;
    max-width: 400px;
    position: relative;
  }
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 400px;
  }
  .todos li{
    background: #341eb4;
  }
  .delete{
    cursor: pointer;
  }
  .filtered{
    display: none !important;
  }
  .nav{
    background: #2e13c9;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
  }